
<div class="navbar navbar-default navbar-fixed-bottom" style="background-color: rgba(255,255,255,0.9)">
    <div>
        <div class="row">
            <div class="col-md-1 text-center" >

                <span class="glyphicon glyphicon-trash"></span>
                <p class="custom">Trash</p>


            </div>
            <div class="col-md-1 text-center" >

                <span class="glyphicon glyphicon-trash"></span>
                <p class="custom">Trash</p>


            </div>
            <div class="col-md-1 text-center" >

                <span class="glyphicon glyphicon-plus"></span>
                <p class="custom">Trash</p>


            </div>
            <div class="col-md-1 text-center" >

                <span class="glyphicon glyphicon-adjust"></span>
                <p class="custom">Trash</p>


            </div>
            <div class="col-md-1 text-center" >

                <span class="glyphicon glyphicon-alert"></span>
                <p class="custom">Trash</p>


            </div><div class="col-md-1 text-center" >

            <span class="glyphicon glyphicon-apple"></span>
            <p class="custom">Trash</p>


        </div>
            <div class="col-md-1 text-center" >

                <span class="glyphicon glyphicon-bell"></span>
                <p class="custom">Trash</p>


            </div>
            <div class="col-md-1 text-center" >

                <span class="glyphicon glyphicon-asterisk"></span>
                <p class="custom">Trash</p>


            </div>
            <div class="col-md-1 text-center" >

                <span class="glyphicon glyphicon-calendar"></span>
                <p class="custom">Trash</p>


            </div><div class="col-md-1 text-center" >

            <span class="glyphicon glyphicon-bishop"></span>
            <p class="custom">Trash</p>


        </div>
            <div class="col-md-1 text-center" >

                <span class="glyphicon glyphicon-briefcase"></span>
                <p class="custom">Trash</p>


            </div>
            <div class="col-md-1 text-center" >

                <span class="glyphicon glyphicon-circle-arrow-left"></span>
                <p class="custom">Trash</p>


            </div>


        </div>
    </div>
</div>
