<div class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header" data-toggle="collapse" data-target="#custom">
        <span class="icon-bar"></span>
         <span clas="icon-bar"></span>
    </div>
<div id="custom" class="collapse navbar-collapse">
    <p class="navbar-text pull-left">Your search end's here</p>
    <p class="navbar-text pull-right">login | signup</p>
</div>
</div>
<div class="row">
    <div class="col-md-12 text-center" style="background-image:url(images/header2.jpeg);height:100px;border-bottom: 1px black solid">
        <div class="row">
            <div class="col-md-12 text-center">
                <span class="custom1">Inquiry.Com</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">


            </div>
        </div>
    </div>
</div>