<div class="panel panel-default" style="background-color: rgba(39, 39, 39, 0.7);">

    <div class="panel-body">

        <form>
            <div class="form-group form-group-sm">
                <label>Search</label>
                <input type="text" class="form-control"/>
            </div>
            <div class="form-group form-group-sm">
                <label>Location</label>
                 <input type="text" class="form-control"/>
            </div>
            <div class="form-group form-group-sm">
                <label>Radius</label>
                <input type="text" class="form-control"/>
            </div>
        </form>
    </div>

</div>