<nav id="cbp-hrmenu" class="cbp-hrmenu">
    <ul>
        <li>
            <a href="#">RECHARGE</a>
            <div class="cbp-hrsub">
                <h4>RECHARGE</h4>
                <div class="cbp-hrsub-inner">
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/Mobile-Marketing-icon.png"/></a><div class="text-center">Mobile</div></li>
                        </ul>
                    </div>

                    <div>
                        <ul>
                            <li><a href="#"><img src="images/hotel-icon.png"/></a>Hotel</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/doctor-man-icon.png"/></a>Doctor</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/Travel-Airplane-icon.png"/></a>Aeroplane</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>


                </div><!-- /cbp-hrsub-inner -->
            </div><!-- /cbp-hrsub -->
        </li>
        <li>
            <a href="#">ELECTRONICS</a>
            <div class="cbp-hrsub">
                <h4>ELECTRONICS</h4>
                <div class="cbp-hrsub-inner">
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/car-icon.png"/></a><div class="text-center">Taxi</div></li>
                        </ul>
                    </div>

                    <div>
                        <ul>
                            <li><a href="#"><img src="images/hotel-icon.png"/></a>Hotel</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/doctor-man-icon.png"/></a>Doctor</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/Travel-Airplane-icon.png"/></a>Aeroplane</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>


                </div><!-- /cbp-hrsub-inner -->
            </div><!-- /cbp-hrsub -->
        </li>
        <li>
            <a href="#">HOTEL</a>
            <div class="cbp-hrsub">
                <h4>HOTEL</h4>
                <div class="cbp-hrsub-inner">
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/car-icon.png"/></a><div class="text-center">Taxi</div></li>
                        </ul>
                    </div>

                    <div>
                        <ul>
                            <li><a href="#"><img src="images/hotel-icon.png"/></a>Hotel</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/doctor-man-icon.png"/></a>Doctor</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/Travel-Airplane-icon.png"/></a>Aeroplane</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>


                </div><!-- /cbp-hrsub-inner -->
            </div><!-- /cbp-hrsub -->
        </li>
        <li>
            <a href="#">TRAVEL</a>
            <div class="cbp-hrsub">
                <h4>TRAVEL</h4>
                <div class="cbp-hrsub-inner">
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/car-icon.png"/></a><div class="text-center">Taxi</div></li>
                        </ul>
                    </div>

                    <div>
                        <ul>
                            <li><a href="#"><img src="images/hotel-icon.png"/></a>Hotel</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/doctor-man-icon.png"/></a>Doctor</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/Travel-Airplane-icon.png"/></a>Aeroplane</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>


                </div><!-- /cbp-hrsub-inner -->
            </div><!-- /cbp-hrsub -->
        </li>
        <li>
            <a href="#">REAL STATE</a>
            <div class="cbp-hrsub">
                <h4>REAL STATE</h4>
                <div class="cbp-hrsub-inner">
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/car-icon.png"/></a><div class="text-center">Taxi</div></li>
                        </ul>
                    </div>

                    <div>
                        <ul>
                            <li><a href="#"><img src="images/hotel-icon.png"/></a>Hotel</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/doctor-man-icon.png"/></a>Doctor</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/Travel-Airplane-icon.png"/></a>Aeroplane</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>


                </div><!-- /cbp-hrsub-inner -->
            </div><!-- /cbp-hrsub -->
        </li>
        <li>
            <a href="#">JOBS</a>
            <div class="cbp-hrsub">
                <h4>JOBS</h4>
                <div class="cbp-hrsub-inner">
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/car-icon.png"/></a><div class="text-center">Taxi</div></li>
                        </ul>
                    </div>

                    <div>
                        <ul>
                            <li><a href="#"><img src="images/hotel-icon.png"/></a>Hotel</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/doctor-man-icon.png"/></a>Doctor</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/Travel-Airplane-icon.png"/></a>Aeroplane</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>


                </div><!-- /cbp-hrsub-inner -->
            </div><!-- /cbp-hrsub -->
        </li>
        <li>
            <a href="#">HOME TUTOR</a>
            <div class="cbp-hrsub">
                <h4>HOME TUTOR</h4>
                <div class="cbp-hrsub-inner">
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/car-icon.png"/></a><div class="text-center">Taxi</div></li>
                        </ul>
                    </div>

                    <div>
                        <ul>
                            <li><a href="#"><img src="images/hotel-icon.png"/></a>Hotel</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/doctor-man-icon.png"/></a>Doctor</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/Travel-Airplane-icon.png"/></a>Aeroplane</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>


                </div><!-- /cbp-hrsub-inner -->
            </div><!-- /cbp-hrsub -->
        </li>
        <li>
            <a href="#">BOOK</a>
            <div class="cbp-hrsub">
                <h4>BOOK</h4>
                <div class="cbp-hrsub-inner">
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/car-icon.png"/></a><div class="text-center">Taxi</div></li>
                        </ul>
                    </div>

                    <div>
                        <ul>
                            <li><a href="#"><img src="images/hotel-icon.png"/></a>Hotel</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/doctor-man-icon.png"/></a>Doctor</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/Travel-Airplane-icon.png"/></a>Aeroplane</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>


                </div><!-- /cbp-hrsub-inner -->
            </div><!-- /cbp-hrsub -->
        </li>
        <li>
            <a href="#">SPORTS & HEALTH</a>
            <div class="cbp-hrsub">
                <h4>SPORTS & HEALTH</h4>
                <div class="cbp-hrsub-inner">
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/car-icon.png"/></a><div class="text-center">Taxi</div></li>
                        </ul>
                    </div>

                    <div>
                        <ul>
                            <li><a href="#"><img src="images/hotel-icon.png"/></a>Hotel</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/doctor-man-icon.png"/></a>Doctor</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/Travel-Airplane-icon.png"/></a>Aeroplane</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>


                </div><!-- /cbp-hrsub-inner -->
            </div><!-- /cbp-hrsub -->
        </li>
        <li>
            <a href="#">SPORTS & HEALTH</a>
            <div class="cbp-hrsub">
                <h4>SPORTS & HEALTH</h4>
                <div class="cbp-hrsub-inner">
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/car-icon.png"/></a><div class="text-center">Taxi</div></li>
                        </ul>
                    </div>

                    <div>
                        <ul>
                            <li><a href="#"><img src="images/hotel-icon.png"/></a>Hotel</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/doctor-man-icon.png"/></a>Doctor</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/Travel-Airplane-icon.png"/></a>Aeroplane</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>


                </div><!-- /cbp-hrsub-inner -->
            </div><!-- /cbp-hrsub -->
        </li>
        <li>
            <a href="#">SPORTS & HEALTH</a>
            <div class="cbp-hrsub">
                <h4>SPORTS & HEALTH</h4>
                <div class="cbp-hrsub-inner">
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/car-icon.png"/></a><div class="text-center">Taxi</div></li>
                        </ul>
                    </div>

                    <div>
                        <ul>
                            <li><a href="#"><img src="images/hotel-icon.png"/></a>Hotel</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/doctor-man-icon.png"/></a>Doctor</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/Travel-Airplane-icon.png"/></a>Aeroplane</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>


                </div><!-- /cbp-hrsub-inner -->
            </div><!-- /cbp-hrsub -->
        </li>


    </ul>
<div>

</div>
</nav>
        <script src="../js/common/cbpHorizontalMenu.js"></script>
<script>
    $(function() {
        cbpHorizontalMenu.init();
    });
</script>
<div class="row" collapse="collapse.isCollapsed"  style="border:1px solid #ccc;">
    <div class="col-md-12"  >
        <div class="row">
            <div class="col-md-12" style="background-color:#47a3da;">
                <div class="header-text-row">{{currentDate|date:'MMM,dd yyyy'}},Delhi</div>
            </div>
        </div>
        <div class="row" style="padding-top:5px;padding-bottom:10px;">
            <div class="col-md-12 text-center">
                <form class="form-inline" ng-submit="getResult(newQuery)" >
                    <div class="form-group" mass-autocomplete>
                        <label class="sr-only">Location</label>
                        <input type="text" ng-model="newQuery.key" placeholder="Enter Search Text" typeahead="address for address in getAutocompleteSearchKey($viewValue)" typeahead-loading="loadingLocations" class="form-control">
                    </div>
                    <div class="form-group" mass-autocomplete>
                        <label class="sr-only">Location</label>
                        <input type="text" ng-model="newQuery.location" placeholder="Search Location" typeahead="address for address in getAutocompleteLocation($viewValue)" typeahead-loading="loadingLocations" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Find</button>
                </form>
            </div>
        </div>
        <!--<div class="row" style="padding-bottom:10px;">
            <div class="col-md-1 text-center" style="border-right:1px solid white;border-top:1px solid white;border-bottom:1px solid white;">
                <a ui-sref="recharge" ng-click="isCollapsed=true">
                  <img src="images/Drugstore-icon.png"/>
                  <p class="icon-header-text-row">Recharge</p>
                </a>
            </div>
            <div class="col-md-1 text-center" style="border-right:1px solid white;border-top:1px solid white;border-bottom:1px solid white;">
                <a ui-sref="bustaxis" ng-click="isCollapsed=true">
                <img src="images/Drugstore-icon.png"/>
                <p class="icon-header-text-row">Bus And Taxis</p>
                </a>
            </div>
            <div class="col-md-1 text-center" style="border-right:1px solid white;border-top:1px solid white;border-bottom:1px solid white;">
                <a ui-sref="flighthotels" ng-click="isCollapsed=true">
                <img src="images/Drugstore-icon.png"/>
                <p class="icon-header-text-row">Flight And Hotels</p>
                </a>
            </div>
            <div class="col-md-1 text-center" style="border-right:1px solid white;border-top:1px solid white;border-bottom:1px solid white;">
                <a ui-sref="movies" ng-click="isCollapsed=true">
                    <img src="images/Drugstore-icon.png"/>
                    <p class="icon-header-text-row">Movies</p>
                </a>
            </div>
            <div class="col-md-1 text-center" style="border-right:1px solid white;border-top:1px solid white;border-bottom:1px solid white;">
                <a ui-sref="doctors" ng-click="isCollapsed=true">
                    <img src="images/Drugstore-icon.png"/>
                    <p class="icon-header-text-row">Doctors</p>
                </a>
            </div>
            <div class="col-md-1 text-center" style="border-right:1px solid white;border-top:1px solid white;border-bottom:1px solid white;">
                <a ui-sref="restaurants" ng-click="isCollapsed=true">
                    <img src="images/Drugstore-icon.png"/>
                    <p class="icon-header-text-row">Restaurants</p>
                </a>
            </div>
            <div class="col-md-1 text-center" style="border-right:1px solid white;border-top:1px solid white;border-bottom:1px solid white;">
                <a ui-sref="realestate" ng-click="isCollapsed=true">
                    <img src="images/Drugstore-icon.png"/>
                    <p class="icon-header-text-row">Real Estate</p>
                </a>
            </div>
            <div class="col-md-1 text-center" style="border-right:1px solid white;border-top:1px solid white;border-bottom:1px solid white;">
                <a ui-sref="chemists" ng-click="isCollapsed=true">
                    <img src="images/Drugstore-icon.png"/>
                    <p class="icon-header-text-row">Chemists</p>
                </a>
            </div>
            <div class="col-md-1 text-center" style="border-right:1px solid white;border-top:1px solid white;border-bottom:1px solid white;">
                <a ui-sref="hometutor" ng-click="isCollapsed=true">
                    <img src="images/Drugstore-icon.png"/>
                    <p class="icon-header-text-row">Home Tutor</p>
                </a>
            </div>
            <div class="col-md-1 text-center" style="border-right:1px solid white;border-top:1px solid white;border-bottom:1px solid white;">
                <a ui-sref="electronics" ng-click="isCollapsed=true">
                    <img src="images/Drugstore-icon.png"/>
                    <p class="icon-header-text-row">Electronics</p>
                </a>
            </div>
            <div class="col-md-1 text-center" style="border-right:1px solid white;border-top:1px solid white;border-bottom:1px solid white;">
                <a ui-sref="computersmobiles" ng-click="isCollapsed=true">
                    <img src="images/Drugstore-icon.png"/>
                    <p class="icon-header-text-row">Computers And Mobiles</p>
                </a>
            </div>
            <div class="col-md-1 text-center" style="border-top:1px solid white;border-bottom:1px solid white;">
                <a ui-sref="othersservices" ng-click="isCollapsed=true">
                    <img src="images/Drugstore-icon.png"/>
                    <p class="icon-header-text-row">Others Services</p>
                </a>
            </div>
        </div>-->

    </div>

</div>