<div class="row" style="background-image: url(images/header1.jpg);background-size: 100%">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="header-text-row">{{currentDate|date:'MMM,dd yyyy'}},Delhi</div>
            </div>
        </div>
         <div class="row" style="padding-top:5px;padding-bottom:10px;">
             <div class="col-md-12 text-center">
                 <form class="form-inline" ng-submit="getResult(newQuery)" >
                     <div class="form-group" mass-autocomplete>
                         <label class="sr-only">Location</label>
                         <input type="text" ng-model="newQuery.key" placeholder="Enter Search Text" typeahead="address for address in getAutocompleteSearchKey($viewValue)" typeahead-loading="loadingLocations" class="form-control">
                     </div>
                     <div class="form-group" mass-autocomplete>
                         <label class="sr-only">Location</label>
                         <input type="text" ng-model="newQuery.location" placeholder="Search Location" typeahead="address for address in getAutocompleteLocation($viewValue)" typeahead-loading="loadingLocations" class="form-control">
                     </div>
                     <button type="submit" class="btn btn-success">Find</button>
                 </form>
             </div>
         </div>
        <div class="row" style="padding-bottom:10px;">
            <div class="col-md-1 text-center" style="border-right:1px solid white;border-top:1px solid white;border-bottom:1px solid white;">
                <a ui-sref="recharge">
                  <img src="images/Drugstore-icon.png"/>
                  <p class="icon-header-text-row">Recharge</p>
                </a>
            </div>
            <div class="col-md-1 text-center" style="border-right:1px solid white;border-top:1px solid white;border-bottom:1px solid white;">
                <a ui-sref="bustaxis">
                <img src="images/Drugstore-icon.png"/>
                <p class="icon-header-text-row">Bus And Taxis</p>
                </a>
            </div>
            <div class="col-md-1 text-center" style="border-right:1px solid white;border-top:1px solid white;border-bottom:1px solid white;">
                <a ui-sref="flighthotels">
                <img src="images/Drugstore-icon.png"/>
                <p class="icon-header-text-row">Flight And Hotels</p>
                </a>
            </div>
            <div class="col-md-1 text-center" style="border-right:1px solid white;border-top:1px solid white;border-bottom:1px solid white;">
                <a ui-sref="movies">
                    <img src="images/Drugstore-icon.png"/>
                    <p class="icon-header-text-row">Movies</p>
                </a>
            </div>
            <div class="col-md-1 text-center" style="border-right:1px solid white;border-top:1px solid white;border-bottom:1px solid white;">
                <a ui-sref="doctors">
                    <img src="images/Drugstore-icon.png"/>
                    <p class="icon-header-text-row">Doctors</p>
                </a>
            </div>
            <div class="col-md-1 text-center" style="border-right:1px solid white;border-top:1px solid white;border-bottom:1px solid white;">
                <a ui-sref="restaurants">
                    <img src="images/Drugstore-icon.png"/>
                    <p class="icon-header-text-row">Restaurants</p>
                </a>
            </div>
            <div class="col-md-1 text-center" style="border-right:1px solid white;border-top:1px solid white;border-bottom:1px solid white;">
                <a ui-sref="realestate">
                    <img src="images/Drugstore-icon.png"/>
                    <p class="icon-header-text-row">Real Estate</p>
                </a>
            </div>
            <div class="col-md-1 text-center" style="border-right:1px solid white;border-top:1px solid white;border-bottom:1px solid white;">
                <a ui-sref="chemists">
                    <img src="images/Drugstore-icon.png"/>
                    <p class="icon-header-text-row">Chemists</p>
                </a>
            </div>
            <div class="col-md-1 text-center" style="border-right:1px solid white;border-top:1px solid white;border-bottom:1px solid white;">
                <a ui-sref="hometutor">
                    <img src="images/Drugstore-icon.png"/>
                    <p class="icon-header-text-row">Home Tutor</p>
                </a>
            </div>
            <div class="col-md-1 text-center" style="border-right:1px solid white;border-top:1px solid white;border-bottom:1px solid white;">
                <a ui-sref="electronics">
                    <img src="images/Drugstore-icon.png"/>
                    <p class="icon-header-text-row">Electronics</p>
                </a>
            </div>
            <div class="col-md-1 text-center" style="border-right:1px solid white;border-top:1px solid white;border-bottom:1px solid white;">
                <a ui-sref="computersmobiles">
                    <img src="images/Drugstore-icon.png"/>
                    <p class="icon-header-text-row">Computers And Mobiles</p>
                </a>
            </div>
            <div class="col-md-1 text-center" style="border-top:1px solid white;border-bottom:1px solid white;">
                <a ui-sref="othersservices">
                    <img src="images/Drugstore-icon.png"/>
                    <p class="icon-header-text-row">Others Services</p>
                </a>
            </div>
        </div>

    </div>

</div>
  <div class="row">
      <div class="col-md-12">
          &nbsp;
      </div>
  </div>