<div class="row" style="background-color: green;">
    <div class="col-md-12">
       <ng-include src="'templates/carousel.html'"/>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        &nbsp;
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        &nbsp;
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <ng-include src="'templates/leftnav1.html'"/>
    </div>
     <div class="col-md-8">
             <div class="row">
                 <div class="col-md-2">
                     <div class="media">
                     <a href="#"><img src="images/Books-1-icon.png" class="media-object"/></a>
                     </div>
                 </div>
                 <div class="col-md-2">
                     <div class="media">
                         <a href="#"><img src="images/Books-1-icon.png" class="media-object"/></a>
                     </div>
                 </div>
                 <div class="col-md-2">
                     <div class="media">
                         <a href="#"><img src="images/Books-1-icon.png" class="media-object"/></a>
                     </div>
                 </div>
             </div>
<!--
             <div class="col-md-1 col-sm-1 col-xs-1">
                 <a ui-sref="home" class="thumbnail"><img src="images/Cart-icon.png"/></a>
             </div>
             <div class="col-md-1 col-sm-1 col-xs-1">
                 <a ui-sref="home" class="thumbnail"><img src="images/Drugstore-icon.png"/></a>
             </div>
             <div class="col-md-1 col-sm-1 col-xs-1">
                 <a ui-sref="home" class="thumbnail"><img src="images/Fight-Club-icon.png"/></a>
             </div>
             <div class="col-md-1 col-sm-1 col-xs-1">
                 <a ui-sref="home" class="thumbnail"><img src="images/Folder-Movies-icon.png"/></a>
             </div>
             <div class="col-md-1 col-sm-1 col-xs-1">
                 <a ui-sref="home" class="thumbnail"><img src="images/Haunted-Hotel-icon.png"/></a>
             </div>
             <div class="col-md-1 col-sm-1 col-xs-1">
                 <a ui-sref="home" class="thumbnail"><img src="images/Hospital-icon.png"/></a>
             </div>
             <div class="col-md-1 col-sm-1 col-xs-1">
                 <a ui-sref="home" class="thumbnail"><img src="images/plane-flight-icon.png"/></a>
             </div>

             <div class="col-md-1 col-sm-1 col-xs-1">
                 <a ui-sref="home" class="thumbnail"><img src="images/Property-icon.png"/></a>
             </div>

             <div class="col-md-1 col-sm-1 col-xs-1">
                 <a ui-sref="home" class="thumbnail"><img src="images/Sportscar-car-icon.png"/></a>
             </div>

             <div class="col-md-1 col-sm-1 col-xs-1">
                 <a ui-sref="home" class="thumbnail"><img src="images/Student-id-icon.png"/></a>
             </div>

             <div class="col-md-1 col-sm-1 col-xs-1">
                 <a ui-sref="home" class="thumbnail"><img src="images/Taxi-Left-Yellow-icon.png"/></a>
             </div>

             <div class="col-md-1 col-sm-1 col-xs-1">
                 <a ui-sref="home" class="thumbnail"><img src="images/Ticket-add-icon.png"/></a>
             </div>
-->

        <div class="clearfix"></div>
     </div>
    <div class="col-md-2">
        <a href="#" class="thumbnail">
            <img src="images/images.jpeg"/>
        </a>
    </div>
</div>