<div class="row">
    <div class="col-md-12">
       <ng-include src="'templates/carousel.html'"/>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        &nbsp;
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        &nbsp;
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <ng-include src="'templates/leftnav1.html'"/>
    </div>
     <div class="col-md-8">
             <div class="row">
                 <div class="col-md-1 text-center" style="margin:0 auto;">
                     <img src="images/Student-id-icon.png"/>
                     <p>Book</p>
                 </div>
                 <div class="col-md-1 text-center" style="margin:0 auto;">
                     <img src="images/Folder-Movies-icon.png"/>
                     <p>Book</p>
                 </div>
                 <div class="col-md-1 text-center" style="margin:0 auto;">
                     <img src="images/Haunted-Hotel-icon.png"/>
                     <p>Book jgjk jhbjbj jbjbjbkj</p>
                 </div>
                 <div class="col-md-1 text-center" style="margin:0 auto;">
                     <img src="images/Property-icon.png"/>
                     <p>Book</p>
                 </div>
                 <div class="col-md-2 text-center" style="margin:0 auto;">
                     <img src="images/Ticket-add-icon.png"/>
                     <p>Book</p>
                 </div>
             </div>
     </div>
    <div class="col-md-2">
        <a href="#" class="thumbnail">
            <img src="images/images.jpeg"/>
        </a>
    </div>
</div>