
body{ background:url(../images/bg.png) top left repeat;}

.wrapper{
    max-width:1200px;
    margin:0 auto;
    padding:0px;
    min-width:320px;}
.header{
    width:100%;
    display:block;
    background:url(../images/headbg.png) top left repeat;
    min-height:160px;
    padding-top:0px;
}
.logo{
    padding:38px 0px;
    margin:0 auto;
    text-align:center;
}

.buttoncolor{
    color: #fff;
    display: block;
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
    transition: background 0.3s linear 0s;
    width:11%;
    float:left;
    text-align:center;
    font-family: 'archivo_narrowregular';
    -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;
    margin:0px 9px;
}

.headertlt{ width:100%; padding:40px 0px 15px 0px; letter-spacing:-0.5px; font-size:22px; font-family: 'archivo_narrowregular'; color:#424242;}


.gry{background:#424242; color:#fff;}
.orange {background:#ff670f; color:#fff;}
.blue {background:#4A89DC; color:#fff;}
.green{background:#74a52e; color:#fff;}
.red{background:#DA4B38; color:#fff;}
.yellow{background:#F6BB42; color:#fff;}
.purple{background:#967ADC; color:#fff;}
.pink{background:#ee1289; color:#fff;}
.chocolate {background:#934915; color:#fff;}


.blue-grdt{
    background: #5999ee;
    background: -moz-linear-gradient(top,  #5999ee 0%, #4a89dc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5999ee), color-stop(100%,#4a89dc));
    background: -webkit-linear-gradient(top,  #5999ee 0%,#4a89dc 100%);
    background: -o-linear-gradient(top,  #5999ee 0%,#4a89dc 100%);
    background: -ms-linear-gradient(top,  #5999ee 0%,#4a89dc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5999ee', endColorstr='#4a89dc',GradientType=0 );
    color:#fff;}

.gry-grdt{
    background: #565656;
    background: -moz-linear-gradient(top,  #565656 0%, #424242 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#565656), color-stop(100%,#424242));
    background: -webkit-linear-gradient(top,  #565656 0%,#424242 100%);
    background: -o-linear-gradient(top,  #565656 0%,#424242 100%);
    background: -ms-linear-gradient(top,  #565656 0%,#424242 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#565656', endColorstr='#424242',GradientType=0 );
    color:#fff;}

.green-grdt{
    background: #86ba3d;
    background: -moz-linear-gradient(top,  #86ba3d 0%, #74a52e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#86ba3d), color-stop(100%,#74a52e));
    background: -webkit-linear-gradient(top,  #86ba3d 0%,#74a52e 100%);
    background: -o-linear-gradient(top,  #86ba3d 0%,#74a52e 100%);
    background: -ms-linear-gradient(top,  #86ba3d 0%,#74a52e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86ba3d', endColorstr='#74a52e',GradientType=0 );
    color:#fff;}

.red-grdt{
    background: #f05c48;
    background: -moz-linear-gradient(top,  #f05c48 0%, #da4b38 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f05c48), color-stop(100%,#da4b38));
    background: -webkit-linear-gradient(top,  #f05c48 0%,#da4b38 100%);
    background: -o-linear-gradient(top,  #f05c48 0%,#da4b38 100%);
    background: -ms-linear-gradient(top,  #f05c48 0%,#da4b38 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f05c48', endColorstr='#da4b38',GradientType=0 );
    color:#fff;}

.orange-grdt{
    background: #fc7d33;
    background: -moz-linear-gradient(top,  #fc7d33 0%, #ff670f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fc7d33), color-stop(100%,#ff670f));
    background: -webkit-linear-gradient(top,  #fc7d33 0%,#ff670f 100%);
    background: -o-linear-gradient(top,  #fc7d33 0%,#ff670f 100%);
    background: -ms-linear-gradient(top,  #fc7d33 0%,#ff670f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc7d33', endColorstr='#ff670f',GradientType=0 );
    color:#fff;}

.yellow-grdt{
    background: #ffcd67;
    background: -moz-linear-gradient(top,  #ffcd67 0%, #f6bb42 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffcd67), color-stop(100%,#f6bb42));
    background: -webkit-linear-gradient(top,  #ffcd67 0%,#ff670f 100%);
    background: -o-linear-gradient(top,  #ffcd67 0%,#f6bb42 100%);
    background: -ms-linear-gradient(top,  #ffcd67 0%,#f6bb42 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcd67', endColorstr='#f6bb42',GradientType=0 );
    color:#fff;}

.purple-grdt{
    background: #a98ded;
    background: -moz-linear-gradient(top,  #a98ded 0%, #967adc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a98ded), color-stop(100%,#967adc));
    background: -webkit-linear-gradient(top,  #a98ded 0%,#967adc 100%);
    background: -o-linear-gradient(top,  #a98ded 0%,#967adc 100%);
    background: -ms-linear-gradient(top,  #a98ded 0%,#967adc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a98ded', endColorstr='#967adc',GradientType=0 );
    color:#fff;}

.pink-grdt{
    background: #fb3ea4;
    background: -moz-linear-gradient(top,  #fb3ea4 0%, #f21b8f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fb3ea4), color-stop(100%,#f21b8f));
    background: -webkit-linear-gradient(top,  #fb3ea4 0%,#f21b8f 100%);
    background: -o-linear-gradient(top,  #fb3ea4 0%,#f21b8f 100%);
    background: -ms-linear-gradient(top,  #fb3ea4 0%,#f21b8f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb3ea4', endColorstr='#f21b8f',GradientType=0 );
    color:#fff;}











@media only screen and (min-width: 230px) and (max-width:780px) {
    .wrapper { width:96%; margin:0% 2%; }
    .buttoncolor{ width:21% !important; margin:2% 2% !important; }
    .headertlt{}

}


@media only screen and (min-width: 781px) and (max-width:1200px) {
    .wrapper { width:96%; margin:0% 2%; }
    .wsmenu-list li a .arrow:after{ display:none !important; }
    .wsmenu{ font-size:14px !important; }
    .megamenu ul li.title{ font-size:14px !important;}
    .buttoncolor{ width:8.5% !important; margin:0% 2% !important; }

}























