<div class="container row">
    <div class="col-lg-6" style="padding-top: 10px; ">
        <div class="input-group" style="padding-top: 10px; ">
            <input type="text" class="form-control" placeholder="Enter Data Card Number">
              <span class="input-group-btn">
                <button class="btn btn-success" type="button" width="100px;"> Enter DataCard Number</button>
              </span>

        </div>
        <div class="input-group" style="padding-top: 10px; ">
            <input type="text" class="form-control" placeholder="Select Your Operator">
              <span class="input-group-btn">
                <button class="btn btn-success" type="button">&nbsp;&nbsp;Please Select Operator&nbsp;</button>
              </span>

        </div>
        <div class="input-group" style="padding-top: 10px; ">
            <input type="text" class="form-control" placeholder="Enter Amount ">
              <span class="input-group-btn">
                <button class="btn btn-success" type="button">&nbsp;&nbsp; Please Enter Amount!&nbsp;&nbsp;</button>
              </span>
        </div>
        <div class="input-group" style="padding-top: 10px; ">
            <button class="btn btn-success" type="button">&nbsp;&nbsp; Click For Recharge &nbsp;&nbsp;</button>
        </div>
        <!-- /input-group -->
    </div><!-- /.col-lg-6 -->
</div><!-- /.row -->